/* general */
body {
  margin: 0;
  background: blue;
  font-family: "Helvetica Neue", sans-serif;
}
html, body, #map {
  width: 100%;
  height: 100%;
}

/* map */
#map {
}
#map g.group {
  opacity: 0.5;
  transition: opacity .3s ease;
}

/* bubble */
#bubble {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  background: lime;
  transform-origin: 0 0;
}
#bubble.show {
  display: block;
}
#bubble img {
  width: 100%;
}
#bubble p {
  color: blue;
  margin: 0.5em;
}
